.clearfix::after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: "PTSans";
  src: local("PTSans Regular"), local("PTSans-Regular"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: local("PTSans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

html,
body {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-wrapper {
  overflow: hidden;
  box-shadow: 0px 0px 25px -15px #000000;
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-wrapper {
      width: 768px; } }
  @media (min-width: 1200px) {
    .page-wrapper {
      width: 1200px; } }

.main-nav {
  position: relative;
  z-index: 1; }

.main-nav__list {
  margin: 0;
  padding: 0; }

.main-nav__item {
  text-align: center;
  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db; }

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  padding: 6px 0;
  display: block; }

.main-nav__button-close {
  position: absolute;
  right: 20px;
  top: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 29px;
  height: 29px; }
  .main-nav__button-close::after, .main-nav__button-close::before {
    cursor: pointer;
    position: absolute;
    display: block;
    content: "";
    width: 29px;
    height: 5px;
    background-color: #ffffff; }
  .main-nav__button-close::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav__button-close::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav__mock {
  position: relative;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.4); }

.header__logo {
  width: 102px;
  height: 83px;
  background-image: url(../../img/logotype-mobile.svg);
  position: relative;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.main-nav__button-open {
  background: url(../../img/icon-menu.svg);
  border: none;
  width: 23px;
  height: 21px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.header__intro {
  padding: 0 20px;
  height: 389px;
  background-image: url(../../img/intro-triangle.svg), url(../../img/back-mobile.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center; }
  .header__intro .intro__text {
    height: 100%;
    width: 100%;
    background-image: url(../../img/text-index.svg);
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 768px) {
  .main-nav {
    margin-bottom: -52px; }
  .main-nav__item {
    display: inline;
    width: 20%;
    background: transparent;
    border: none; }
    .main-nav__item:nth-child(1), .main-nav__item:nth-child(2) {
      float: left; }
    .main-nav__item:nth-child(3), .main-nav__item:nth-child(4) {
      float: right; }
  .main-nav__link {
    color: #000000;
    font-size: 14px;
    display: inline; }
    .main-nav__link:hover {
      color: #81b3d2; }
    .main-nav__link--active {
      color: #766357; }
      .main-nav__link--active--hover {
        color: #604e43; }
      .main-nav__link--active--down {
        opacity: 30%; }
    .main-nav__link--down {
      opacity: 30%; }
  .main-nav__button-close,
  .main-nav__button-open {
    display: none; }
  .header__intro {
    padding: 0 135px 0 135px;
    height: 516px;
    background-image: url(../../img/intro-triangle-tablet.svg), url(../../img/back-tablet.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center; } }

@media (min-width: 1200px) {
  .header__logo {
    width: 188px;
    height: 96px;
    background-image: url(../../img/logotype-desktop.svg); }
  .header__intro {
    padding: 0 360px;
    background-image: url(../../img/intro-triangle-tablet.svg), url(../../img/back-desktop.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center; } }
