.main-nav{
  position: relative;
  z-index: 1;
}

.main-nav__list{
  margin: 0;
  padding: 0;

}

.main-nav__item{
    text-align: center;
    background-color: $primary-color-teal;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
}

.main-nav__link{
  text-decoration:none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  padding: 6px 0;
  display: block;
}

.main-nav__button-close{
  position: absolute;
  right: 20px;
  top: 12px;
  background-color:transparent;
  border: none;
  padding: 0;
  width: 29px;
  height: 29px;

  &::after,
  &::before{
    cursor: pointer;
    position: absolute;
    display: block;
    content: "";
    width:29px;
    height: 5px;
    background-color: #ffffff;
  }

  &::after{
    transform: rotate(45deg);
  }

  &::before{
     transform: rotate(-45deg);
  }
}

.main-nav__mock{
  position: relative;
  height: 56px;
  background-color: #ffffff;
  box-shadow:  0px -1px 5px 0px  rgba(50, 50, 50, 0.4);
}

.header__logo{
  width: 102px;
  height: 83px;
  background-image: url(../../img/logotype-mobile.svg);
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-nav__button-open{
  background: url(../../img/icon-menu.svg);
  border: none;
  width: 23px;
  height: 21px;
  position: absolute;
  right: 20px;
  top:50%;
  transform: translateY(-50%);
}

.header__intro{
  padding: 0 20px;
  height: 389px;
  background-image: url(../../img/intro-triangle.svg),
                    url(../../img/back-mobile.jpg);

  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;

  .intro__text{
    height: 100%;
    width: 100%;
    background-image: url(../../img/text-index.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (min-width: $tablet-width){
  .main-nav{
    margin-bottom: -52px;
  }

  .main-nav__item{
    display: inline;
    width: 20%;
    background:transparent;
    border: none;

    &:nth-child(1),
    &:nth-child(2){
      float: left;
    }

    &:nth-child(3),
    &:nth-child(4){
      float: right;
    }
  }
  .main-nav__link{
    color: #000000;
    font-size: 14px;
    display: inline;

    &:hover{
      color: $primary-color-teal;
    }

    &--active{
      color: #766357;
      &--hover{
        color: #604e43;
      }

      &--down{
        opacity: 30%;
      }
    }

    &--down{
      opacity: 30%;
    }
  }

  .main-nav__button-close,
  .main-nav__button-open{
    display: none;
  }

  .header__intro{
    padding: 0 135px 0 135px;
    height: 516px;
    background-image: url(../../img/intro-triangle-tablet.svg),
                      url(../../img/back-tablet.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
}

}

@media (min-width: $desktop-width){
  .header__logo{
  width: 188px;
  height: 96px;
  background-image: url(../../img/logotype-desktop.svg);
  }

  .header__intro{
    padding: 0 360px ;

    background-image: url(../../img/intro-triangle-tablet.svg),
                      url(../../img/back-desktop.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
  }
}
